<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SyntaxeLINQ.Properties.Settings.Northwind_B2ConnectionString"
            connectionString="Data Source=192.168.177.200;Initial Catalog=Northwind_B2;Persist Security Info=True;User ID=bts2;Password=bts2bts2"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>